body {
  background-color: rgb(0, 114, 103);
}
h1 {
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
}

#start {
  height: 5rem;
  width: 20rem;
  
  border-radius: 15px;
  border-color: mediumturquoise;
  background-color: midnightblue;
  color: mediumturquoise;
  font-size: 4rem;
  text-align: justify center;
  position: absolute;
  top: 25px;

}

#reset {
  height: 5rem;
  width: 20rem;
  
  border-radius: 15px;
  border-color: mediumturquoise;
  background-color: midnightblue;
  color: mediumturquoise;
  font-size: 4rem;
  text-align: justify center;
  justify-content: center;
  position: absolute;
  top: 25px;
}

#game {
  width: 99%;
  height: 500px;
  border: 5px solid rgb(214, 176, 176);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(145, 70, 145);
}
#game div {
  border: 1px solid black;
  border-radius: 10px;
  width: 16%;
  height: 30%;
  margin: 10px;
  
  background-image: url("https://images.unsplash.com/photo-1595452767427-0905ad9b036d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  
}

#game>div.firstSelected {
  background-image: none;
  border: 5px solid black;
  box-sizing: border-box;
}

#game>div.firstSelected:hover {
  background-image: none;
  border: 5px solid black;
}

#game>div:hover {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
  url("https://images.unsplash.com/photo-1595452767427-0905ad9b036d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: center;
}


#game>div.secondSelected {
  background-image: none;
  border: 5px solid black;
}

#game>div.matched {
  background-image: none;
}

#guesses {
  border: 5px solid rgb(8, 25, 80);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 15px;
  position: absolute;
  left: 75%;
  top: 4px;
  background-color: indigo;
  color: mediumturquoise;
  
}
#guesses p {
  margin: 0;
}

#start.started {
display: none;

}

#reset {
  display: none;
}

#reset.started {
  display: flex;

}

#youWin {
  z-index: 5;
  display: flex;
  position: absolute;
  padding: 0%;
  margin: 0%;
  top: 50%;
  left: 50%;
  font-size: 75px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aqua;
  justify-self: auto;
}

#endReset {
  z-index: 5;
  position: absolute;
  display: flex;
  justify-self: auto;
  padding: 0%;
  margin: 0%;
  top: 75%;
  left: 50%;
  font-size: 75px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aqua;
  background-color: black;
}
